.user-container {
  background-color: rgb(244, 232, 215);
  padding: 0px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:10px;
  align-items: center;
  margin:20px;
  width: 250px; /* You can adjust this */
  border-radius: 10px;
}

#user-img {
  width: 120px; /* Set fixed width */
  height: 120px; /* Set fixed height */
  object-fit: cover;
  border-radius: 50%; /* Perfect circle */
  }
